In [1]:
import pandas as pd
df=pd.read_excel('0.xlsx',skiprows=1)
df=df.drop('Zeit',axis=1)

cols = df.select_dtypes(exclude=['float']).columns
for col in cols:
    df[col] = df[col].str.replace(',','.')
df[cols] = df[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

print(len(df.columns))

59

In [8]:
import pandas as pd
  
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
  
# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])
df=df.T

In [9]:
df

           a    b      c   d       e    f      g
Names  Geeks  For  Geeks  is  portal  for  Geeks

In [13]:
lst = [1,2,3]
df = pd.DataFrame([lst])
df.columns =['col1','col2','col3']
df

   col1  col2  col3
0     1     2     3

In [14]:
import pandas as pd
import os

In [18]:
path=os.path.dirname(os.getcwd())

In [19]:
path

'C:\\Users\\jalis\\Desktop\\fiverr\\moatazz97'