In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('TBL_Sales_CustomerVisits.xlsx').set_index('ds')

In [3]:
df

                  sales  customer visits
ds
2017-01-02   7725068.73         262741.0
2017-01-03   6979434.92         252488.0
2017-01-04   6763282.67         244155.0
2017-01-05   7290287.82         251236.0
2017-01-06  11022365.42         304887.0
...                 ...              ...
2022-02-25  10109286.22         226723.0
2022-02-26  10686784.16         227216.0
2022-02-28   6982801.86         202867.0
2022-03-01   6448843.11         187919.0
2022-03-02   5792110.57         177050.0

[1728 rows x 2 columns]

In [4]:
selected_year='2019'
start_date = f'{selected_year}-01-01'
end_date = f'{selected_year}-12-31'

In [5]:
s=df[start_date:end_date]
s

                  sales  customer visits
ds
2019-01-02   7363846.55         252867.0
2019-01-03   7272131.36         243666.0
2019-01-04   9618052.48         267807.0
2019-01-05  12034612.69         298562.0
2019-01-06     21608.43           1386.0
...                 ...              ...
2019-12-26   8203742.24         249166.0
2019-12-27   9689912.14         262221.0
2019-12-28  11455911.87         281193.0
2019-12-30  16671912.67         370494.0
2019-12-31  13944597.58         356912.0

[341 rows x 2 columns]

In [6]:
year_to_modify='2019'
start_date = f'{year_to_modify}-01-01'
end_date = f'{year_to_modify}-12-31'

In [7]:
m=df[start_date:end_date]

In [8]:
year_to_modify='2021'
start_date = f'{year_to_modify}-01-01'
end_date = f'{year_to_modify}-12-31'

In [9]:
s=df[start_date:end_date]

In [10]:
m=s

In [11]:
m

                  sales  customer visits
ds
2021-01-02  12645617.10         266869.0
2021-01-04   8391742.24         210636.0
2021-01-05   7380629.02         187505.0
2021-01-06   7393373.19         189742.0
2021-01-07   7407525.79         184158.0
...                 ...              ...
2021-12-27   9970674.41         233756.0
2021-12-28   8634974.01         199927.0
2021-12-29  10927852.35         224364.0
2021-12-30  16418052.61         291097.0
2021-12-31  13580647.78         278385.0

[329 rows x 2 columns]

In [14]:
def replace_year_value(column,selected_year,modified_year):
#     selected_year=selected_year
    s_start_date = f'{selected_year}-01-01'
    s_end_date = f'{selected_year}-12-31'
    

    m_start_date = f'{modified_year}-01-01'
    m_end_date = f'{modified_year}-12-31'
    
    df[s_start_date:s_end_date][column]=df[m_start_date:m_end_date][column]

    

    
    
    print(df['sales']['2019'])

In [15]:
replace_year_value('sales','2019','2021')

ds
2019-01-02   NaN
2019-01-03   NaN
2019-01-04   NaN
2019-01-05   NaN
2019-01-06   NaN
              ..
2019-12-26   NaN
2019-12-27   NaN
2019-12-28   NaN
2019-12-30   NaN
2019-12-31   NaN
Name: sales, Length: 341, dtype: float64

C:\Users\jalis\AppData\Local\Temp/ipykernel_13404/3601034713.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[s_start_date:s_end_date][column]=df[m_start_date:m_end_date][column]

ds
2019-01-02     7363846.55
2019-01-03     7272131.36
2019-01-04     9618052.48
2019-01-05    12034612.69
2019-01-06       21608.43
                 ...
2019-12-26     8203742.24
2019-12-27     9689912.14
2019-12-28    11455911.87
2019-12-30    16671912.67
2019-12-31    13944597.58
Name: sales, Length: 341, dtype: float64

In [155]:
df['sales']['2021']

ds
2021-01-02   NaN
2021-01-04   NaN
2021-01-05   NaN
2021-01-06   NaN
2021-01-07   NaN
              ..
2021-12-27   NaN
2021-12-28   NaN
2021-12-29   NaN
2021-12-30   NaN
2021-12-31   NaN
Name: sales, Length: 329, dtype: float64